{{response.title = "Ship Spinning FAQ"}}
{{extend "layout.html"}}
<h1> Frequently Asked Questions </h1>
<center><small>Updated April 24<sup>th</sup>, 2013.</small></center>
<div class="toc">
  <p><strong><u> Contents </u> </strong></p>
  <ul>
    <li><a href="#what">What is this "ship spinning" thing?</a></li>
    <li><a href="#why">But why is it called "ship spinning"?</a></li>
    <li><a href="#how">How do I play?</a></li>
    <li><a href="#pay">Do I have to pay?</a></li>
    <li><a href="#howpay">How do I pay?</a></li>
    <li><a href="#delivery">How are prizes delivered?</a></li>
    <li><a href="#where">Where are prizes delivered?</a></li>
    <li><a href="#trust">Wait... How can I trust you?</a></li>
    <li><a href="#rigged">How do I know the slots aren't rigged? Couldn't someone review your code?</a></li>
    <li><a href="#payout">Do you offer some sort of statistics on the payout of each station?</a></li>
    <li><a href="#rmt">Does [SLOTS] engage in RMT, money laundering, or other shady activities?</a></li>
    <li><a href="#who">Who are you, anyway?</a></li>
    <li><a href="#suck">You suck.</a></li>
    <li><a href="#contact">Who do I talk to about all my problems?</a></li>
  </ul>
</div>

<h2 id="what"> What is this "ship spinning" thing? </h2>
<p> Ship Spinning Inc. is a corporation in the massively multiplayer online role-playing game (MMORPG)
  called <a href="http://eveonline.com">Eve Online</a>. It provides slot machines based on the in-game
  currency, ISK (Inter-Stellar Kredits) for the enjoyment of the players and profit of the corporation
  (and with some luck, the player's profit as well).
</p>

<h2 id="why"> But why is it called "ship spinning"? </h2>
<p> Eve Online has a feature informally dubbed "ship spinning". Whenever a pilot docks
  his or her ship in a station, a 3<sup>rd</sup> person view of the ship becomes available, which can be interacted with
  by clicking, dragging, and scrolling to spin the ship or to zoom in and out. For reference, use the video below:
</p>

<center> <iframe width="560" height="345" src="http://www.youtube.com/embed/7btLqRUD6BU"
	  frameborder="0" allowfullscreen="1"></iframe></center>

<p> This much-loved feature was replaced in the Incarna expansion by a 3<sup>rd</sup> person view of the
  actual pilot outside his or her ship, which was much less fun to spin.
</p>

<p> At the time of its conception, Ship Spinning Inc. sought to alleviate pilots' hurt feelings by providing
  an alternative way of "spinning" ships: on the reels of a slot machine. It's not the same, I know, but it's <i>some</i>thing.
</p>

<p> Since then, ship spinning was re-introduced to Eve due to the massive player
  outcry. While this may seem like it makes Ship Spinning Inc. redundant, spinning ships on a slot machine 
  still has an advantage over vintage ship spinning: <strong> you can win shiny new ships!</strong>
</p>

<h2 id="how"> How do I play? </h2>

<p> You can find the available spinning stations under the "Spin now!" link at the top of the page.
  You choose the station, make sure you have your four-leaf clover, rabbit's foot, or whatever lucky charm
  you prefer, pull the lever, and see what turns out.
</p>

<h2 id="pay"> Wait, but you mentioned profit. Do I have to pay? </h2>

<p> Yes, like any game of chance with real prizes, it does cost something to play. The price of each pull varies
  from station to station, so make sure to check the different prices out.
</p>

<h2 id="howpay"> How do I pay? </h2>

<p> In-game, donate however much ISK you want to donate to <a href="javascript:CCPEVE.showInfo(2, 98055909);">Ship Spinning Inc.</a>
  Due to lag because of caching in the API, it may take up to 30 minutes for it to be credited to your account.
  Feel free to test the waters with 1 or 2 ISK to check that it does indeed show up on the site.
  <strong>Please take note:</strong> Excepting extenuating circumstances, ISK will <em>not</em> be released back
  to you once donated. 
</p>

<h2 id="delivery"> How are prizes delivered? </h2>

<p> Because the automatic API can only give read-only access to what's going on in-game, there is no automated
  process for prize delivery. This means that a Ship Spinning Inc. agent will have to manually contract you
  your prize. Please allow up to <b>48 hours</b> for the prize contract to be assigned. Be advised that, in order
  to accomodate other winners, these contracts are limited time. If you need special accomodations, contact us.
</p>

<h2 id="where"> Where are prizes delivered? </h2>

<p> Due to limited monetary and transport resources, all prizes are delivered to the Jita 4-4 trade hub for the time
  being. If you would like to have your prizes transported, Ship Spinning Inc. heartily recommends 
  <a href="http://red-frog.org">Red Frog Freight</a> (and their sister services) for safe and fast transport.
</p>

<h2 id="trust"> Wait... How can I trust you? </h2>

<p> <em>"Send me your ISK and I will send you 2x the amount back!"</em> Yeah, you probably hear that a lot if you
  hang around trade hubs. There have even been some crazy money-grabbing schemes in Eve Online's history. However, Ship
  Spinning Inc. is not in the scamming business.
</p>

<p> I could list you a bunch of reasons why a slot machine game is not a viable scamming scheme, but you could just
  take a look at the <a href="{{=URL('char','allwins')}}">list of winners</a> and ask them yourself.
</p>

<h2 id="rigged"> Okay, but how do I know the slots aren't rigged? Couldn't someone review your code? </h2>

<p> Before I launched Ship Spinning Inc., I contacted Chribba for a code review. He argued that while he could 
  definitely do so, I could also immediately revert to a rigged version of the code, rendering his review moot. 
  I could even disguise this as a new feature release, or a bug fix. Requiring him, or anyone else, to continually 
  review every change to the codebase would be unfair to them and their spare time.
</p>

<p> tl;dr: You'll just have to trust me on this, at least until you play and win. </p>

<h2 id="payout"> Do you offer some sort of statistics on the payout of each station? </h2>

<p> Yes, in fact! We offer up-to-date payout readings for every single station. The system will also automatically
  disable reels that fail to live up to our <a href="{{=URL('general','promise')}}">90% payout promise</a>. We also
  plan to offer more statistics, once time allows their implementation.
</p>

<h2 id="rmt">Does [SLOTS] engage in RMT, money laundering, or other shady activities?</h2>

<p> Absolutely not. Ship Spinning Inc. has the utmost respect for Eve, the Eve community, and its rules. This is
  a completely legal operation involving only in-game items and ISK. There is no special treatment based on any
  out-of-game behavior, and there is zero tolerance of anything breaking the Eve EULA or Terms of Service. </p>


<h2 id="who"> Who are you, anyway? </h2>

<p> My name is <a href="javascript: CCPEVE.showInfo(1377, 90602792)">Viddyi Dukima</a>, and I am the CEO of
  Ship Spinning Inc., and the developer of this website. Happy to make your acquaintance!
</p>

  <center> <img src="http://image.eveonline.com/Character/90602792_256.jpg" /> </center>

<p> I have been asked before about who my "main" is, but I'm afraid I cannot provide that information. </p>

<h2 id="suck"> You suck. </h2>

<p> That is not a question.
  
<h2> You suck? </h2>
  
<p> No, I do not.

<h2 id="contact"> Who do I talk to about all my problems? </h2>

<p> Feel free to Eve-mail <a href="javascript: CCPEVE.showInfo(1377, 90602792)">me</a> personally. I will get back to you soon.
