{{response.title = "The 90% Promise"}}
{{extend "layout.html"}}

<h1> The 90% Promise </h1>

<p style="padding:25px; font-size:20px; text-align: center; background-color: black; border: medium double gray">
    The Ship Spinning Inc. slot machines will always strive to provide a <b>90% payout</b>
    ratio, with a 5% margin of error. The slot machine will also have a clear and visible current
    payout display.</p>

<h2> What's this all about? </h2>

<p> In completely chance-based gambling, one of the most important statistics is the "payout ratio" or
  "payout percentage". This number is usually secret or obscure, since it provides a measure
  for the profitability of a certain game. That is, the payout ratio is the amount of money a player
  can expect to win back given an infinite number of games. You can read all about it
  <a href="http://en.wikipedia.org/wiki/Slot_machine#Payout_percentage">here</a>.</p>

<center><img src="{{=URL('static','images/payout.png')}}" style="width:400px"/></center>

<p> The reason this number is usually secret is because players, who want to win,
  naturally gravitate towards the games with the highest payout ratios. The payout of luck games
  is also strongly regulated in the real world to keep casinos honest. Since there are no such laws
  in Eve, <b>gambling institutions are fleecing their players</b> with apallingly low payouts.</p>

<h2> How is Ship Spinning Inc. different? </h2>

<p> We are up front and transparent about our payout ratios, and guarantee that they are somewhere 
  between 85% and 95%, using up-to-date market data. Seriously, the station shuts down if it exceeds
  that range. Let's compare this side by side with some other Eve luck games. </p>

<center><img src="{{=URL('static','images/comparison.png')}}"/></center>

<p> Sources: <a href="{{=URL('static','images/somer-ishkur.png')}}">SOMER Blink</a>,
  <a href="{{=URL('static','images/evealopalous-plex.png')}}">Evealopalous</a>, 
  <a href="https://forums.eveonline.com/default.aspx?g=posts&m=2856483">Lotto49</a>. </p>

<p> I've got nothing against these fine folks, but these low payouts are just not cool. I'm sure
  you agree. </p>

<p> <b>Evealopalous update:</b> As Eep Eep of Evealopalous informed me in an Eve-mail, they pay out
  a fair bit above market value when people cash in the PLEX for ISK. This can actually be seen
  in my source screenshot (650m ISK). That leaves them at 650/682.5 = <i>95.2%</i> payout. As such,
  though I am not completely removing the image (its data is still correct according to the market 
  of the time), I am updating it to reference this paragraph. Thanks for telling me about this,
  Eep Eep!
</p>
  
<h2> So how does Ship Spinning Inc. do it? Slot machine chances work differently!</h2>

<p> Of course they do. In order to calculate the payout ratio of a station, we follow this 
  process (sample numbers taken from the
  <a href="http://shipspinning.com/s/stations/view_reel/5">State of Honor</a> station): </p>

<center><img src="{{=URL('static','images/ss-payout.png')}}" style="max-width: 790px"/></center>

<h2> That's nice, but what does this mean for me? </h2>

<p><b>You will win more with us!</b> The numbers say it, without any spin necessary. The spinning is 
  your job.</p>

<center><p><big>Fair payouts, fair transparency, honest gaming. It's a promise.</big></p></center>
