{{response.title = "Changing password" }}
{{extend "layout.html"}}

<h2> Changing out-of-game password for {{=charname}} </h2>

{{if error:}}
<div class="error">{{=error}}</div>
{{pass}}

{{if success:}}
<p> <strong> Password successfully set. </strong> </p>
{{pass}}

<form method="POST" action="{{=URL()}}">

{{if has_password:}}
<p> Old [SLOTS] password: <input type="password" name="oldpass" /> </p>
{{pass}}

<p> Do <b>NOT</b> use your Eve password. Use a different one. </p>
<p> New [SLOTS] password: <input type="password" name="newpass" /> </p>
<p> New [SLOTS] password (re-enter): <input type="password" name="newpass2" /> </p>

<p> <input type="submit" name="form_submit" value="Submit" /> </p>

</form>

